{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 image-holder">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto ml-5">
                <h1 class="display-4 logo-font text-white">
                    New presets now available!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto ">
                <h1 class="display-4 logo-font text-black">
                    Summer Presets
                </h1>
                <div class="my-5">
                    <ul class="list-unstyled product-info">
                        <li>
                            <i class="fa-solid fa-camera info-icon"></i>
                            Transform photos into stunning works of art with one-click presets.
                        </li>
                        <li>
                            <i class="fa-solid fa-image info-icon"></i>
                            Save time and achieve professional editing results effortlessly.
                        </li>
                        <li>
                            <i class="fa-solid fa-sliders info-icon"></i>
                            Customize presets to create your unique style.
                        </li>
                        <li>
                            <i class="fa-solid fa-newspaper info-icon"></i>
                            Create a consistent aesthetic across your photos or social media feed.
                        </li>
                        <li>
                            <i class="fa-solid fa-layer-group info-icon"></i>
                            Unleash your creativity with diverse preset options.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto">
                <img src="media/dark-tones-preset.jpg" class="img-fluid rounded" alt="Dark Tones Presets">
            </div>
        </div>
        <h4>
            <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
    <div class="bg-black">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto">
                <img src="media/product-show.jpg" class="img-fluid rounded" alt="Dark Tones Presets">
            </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto ">
            <h1 class="display-4 logo-font text-white">
                Freshen up your Living Room
            </h1>
            <div class="my-5">
                <ul class="list-unstyled product-info text-white">
                    <li>
                        <i class="fa-solid fa-camera info-icon"></i>
                        Instantly display beautiful artwork with framed printed photos.
                    </li>
                    <li>
                        <i class="fa-solid fa-image info-icon"></i>
                        Elevate your space with a stylish and personalized touch.
                    </li>
                    <li>
                        <i class="fa-solid fa-sliders info-icon"></i>
                        Preserve memories in high-quality prints.
                    </li>
                    <li>
                        <i class="fa-solid fa-newspaper info-icon"></i>
                        Give meaningful and sentimental gifts.
                    </li>
                    <li>
                        <i class="fa-solid fa-layer-group info-icon"></i>
                        Experience craftsmanship and quality in every frame.
                    </li>
                    <li>
                        <h4>
                            <a href="#" class="shop-now-button-inverted btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    testimonials
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}