{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 image-holder">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto ml-5">
                <p class="display-6 logo-font text-white">Now Available:</p>
                <h1 class="display-5 logo-font text-white"><strong>Lightroom Presets</strong></h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-3 my-5">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto ">
                <h2 class="display-5 logo-font text-black text-center">
                    <strong>Summer Presets</strong>
                </h2>
                <div class="my-4">
                    <ul class="list-unstyled product-info">
                        <li class="inline-items">
                            <i class="fa-solid fa-camera info-icon"></i>
                            <p>Transform photos into stunning works of art with one-click presets.</p>
                        </li>
                        <li class="inline-items">
                            <i class="fa-solid fa-image info-icon"></i>
                            <p>Save time and achieve professional editing results effortlessly.</p>
                        </li>
                        <li class="inline-items">
                            <i class="fa-solid fa-sliders info-icon"></i>
                            <p>Customize presets to create your unique style.</p>
                        </li>
                        <li class="inline-items">
                            <i class="fa-solid fa-newspaper info-icon"></i>
                            <p>Create a consistent aesthetic across your photos or social media feed.</p>
                        </li>
                        <li class="inline-items">
                            <i class="fa-solid fa-layer-group info-icon"></i>
                            <p>Unleash your creativity with diverse preset options.</p>
                        </li>
                    </ul>
                </div>
                <div class="text-center pb-4">
                    <a href="{% url 'product_detail' product_id=7 %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Buy Now</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto">
                <img src="media/dark-tones-preset.jpg" class="img-fluid rounded" alt="Dark Tones Presets">
            </div>
        </div>

    </div>
    <div class="bg-black">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto">
                <img src="media/product-show.jpg" class="img-fluid" alt="Dark Tones Presets">
            </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 my-auto ">
            <h2 class="display-5 pt-5 mx-3 logo-font text-white text-center">
                <strong>Freshen up your Living Room</strong>
            </h2>
            <div class="mx-3 my-5">
                <ul class="list-unstyled product-info text-white">
                    <li class="inline-items">
                        <i class="fa-solid fa-camera info-icon"></i>
                        <p>Instantly display beautiful artwork with framed printed photos.</p>
                    </li>
                    <li class="inline-items">
                        <i class="fa-solid fa-image info-icon"></i>
                        <p>Elevate your space with a stylish and personalized touch.</p>
                    </li>
                    <li class="inline-items">
                        <i class="fa-solid fa-sliders info-icon"></i>
                        <p>Preserve memories in high-quality prints.</p>
                    </li>
                    <li class="inline-items">
                        <i class="fa-solid fa-newspaper info-icon"></i>
                        <p>Give meaningful and sentimental gifts.</p>
                    </li>
                    <li class="inline-items">
                        <i class="fa-solid fa-layer-group info-icon"></i>
                        <p>Experience craftsmanship and quality in every frame.</p>
                    </li>
                    <li>
                        <div class="text-center py-4">
                            <a href="{% url 'product_detail' product_id=6 %}" class="shop-now-button-inverted btn btn-lg rounded-0 text-uppercase py-3">Buy Now</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    testimonials (coming soon)
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}